.welcome {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    box-sizing: content-box;
    height: 250px;
    width: 50%;
    

    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    padding: 20px;
}

#btnBegin {
    padding: 20px 30px;
}